@import './abstract.scss';
@import './components/header';
@import './components/loader.scss';
@import './components/popUp';
@import './components/search.scss';
@import './components/searchResult.scss';
@import './components/factionCard.scss';

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: var(--base-color);
}

* {
  box-sizing: border-box;
}

body {
  color: var(--base-dark-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.not-scrollable {
    overflow: hidden;
  }
}
h2,
h4,
h3,
h5 {
  color: var(--base-color);
}
h2 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 30px 0;
}

#root {
  max-width: 1500px;
  margin: 0 auto;
}
.wrapper {
  margin: 100px auto 20px auto;
  max-width: 90%;
  @include flexbox(center, normal, row, wrap);
}
.link {
  color: #1c7f9b;
  cursor: pointer;
  @extend %transition;
  &:hover {
    color: #61dafb;
  }
}

.title {
  color: var(--base-color);
  font-weight: 500;
  margin-right: 5px;
}

.field {
  overflow: overlay;
  max-height: 160px;
}
